* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green1: #BECCB5;
  --green2: #8AB156;
  --green3: #416802;
  --orange1: #DAAC74;
  --orange2: #E79501;
}

.App {
  /* background-color: rgb(240,248,246); */
  margin: 0 auto;
  min-height: 100vh;
}

p, a, h3, .recipe-header h1 {
  color: #333
}

.main_container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 75px 5%
}

/* NAVIGATION */
nav {
  background-color: var(--green1);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.32);
  padding: 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 15px;
}

.active-link {
  color: var(--green3)
}

/* HEADER */

.main_header {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.header-title {
  color: var(--orange1);
  font-weight: 800;
  font-size: 60px
}

.header-title span {
  color: var(--green1);
  text-transform: uppercase;
}

.header-description {
  margin-top: 30px;
  line-height: 30px;
}

.header-description p {
  margin-bottom: 20px;
}

.main_img {
  display: none;
}

.header-input-container {
  margin-top: 40px;
}

.header-input-container input {
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.072);
  margin-bottom: 2em;
  margin-right: 1em;
}

.header-input-container button {
  padding: 10px 15px;
  border-radius: 30px;
  background-color: var(--orange1);
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  width: 150px;
  font-size: 20px;
}

.header-input-container button:hover {
  background-color: var(--orange2);
  transition: 0.2s;
}

@media only screen and (min-width: 968px) {
  
  .text-container {
    margin-right: 30px;
    width: 50%;
  }

  .image-container {
    width: 50%;
  }

  .main_img {
    display: block;
    border-radius: 20px;
    width: 100%;
  }
}

/* CARDS */

.cards {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 255px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
  margin-bottom: 50px;
  cursor: pointer;
}

.card-image {
  height: 325px;
  overflow: hidden;
}

.card-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 20px 15px;
}

.card-content h3 {
  font-size: 15px;
}

.card-info {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.card .tag {
  background-color: var(--orange1);
  padding: 4px 8px;
  color: var(--green3);
  border-radius: 30px;
  font-size: 13px;
}

.time-text {
  color: var(--green3)
}

/* loading and error */

.loading-container {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.not-found-image {
  width: 250px
}

.not-found-header {
  color: var(--orange2);
  padding: 10px 0;
  font-size: 50px;
}

.not-found-container p {
  font-weight: bold;
  margin-bottom: 1em;
}

.go-back-link:hover {
  color: var(--green3)
}



/* -----------
RECIPE PAGE 
--------------*/

/* RecipeHeader */

.recipe-header {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: grey; 
}

.recipe-header h1 {
  font-size: 40px;
}

.nutritional-facts-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* RecipeNutritionalFact */

.recipe-fact-container {
  display: flex;
  margin: 5px 20px;
  align-items: center;
}

.recipe-fact-container h3 {
  color: var(--green3);
  margin-left: 7px;
  margin-right: 4px;
  font-size: 18px;
}

.recipe-fact-container p {
  font-size: 16px;
}

/* RecipeInfo */

.recipe-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 75px;
    color: #333;
  }

  
/* Instructions & Ingredients */

.recipe-info-container {
  max-width: 700px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--orange1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.218);
  padding: 25px;
}

.recipe-info-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}

.recipe-info-content-container {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.355);
  align-items: center;
}

.recipe-step {
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
}

.recipe-text {
  line-height: 1.4;
}

.recipe-img {
  display: none;
}

.ingredients {
  margin-left: 25px;
}

.recipe-info-link {
  background-color: var(--green1);
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.recipe-info-link:hover {
  background-color: var(--green2);
}

.error-page {
  padding: 50px 0
}

@media only screen and (min-width: 1100px) {
  
  .recipe-info-container {
    width: 50%;
  }

  .recipe-img {
    display: inline;
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-left: -10px;
    margin-top: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.218);
    border-radius: 8px;
  }
}
